beautifulsoup4==4.13.4
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.0
colorama==0.4.6
colored==2.3.0
docutils==0.21.2
filetype==1.2.0
idna==3.10
pillow==10.4.0
psutil==7.0.0
Pygments==2.19.1
pygtrie==2.5.0
pypiwin32==223
PySide6==6.9.0
PySide6_Addons==6.9.0
PySide6_Essentials==6.9.0
pywin32==310
requests==2.32.3
shiboken6==6.9.0
soupsieve==2.7
typing_extensions==4.13.2
urllib3==2.4.0
wxPython==4.2.3
